@import url('reset.css');

/* Base */
body {
	font: 13px/1.4 Arial, sans-serif;
	background: #e7f0e9;
}

h1, h2, h3, p {margin: 0 0 10px 0}

h1 {font-size: 24px}
h2 {font-size: 16px;font-weight: bold;}

a:link, a:visited {color: #0F579F}
b {font-weight: bold;}

/* Layout */
#wrapper {
	width: 840px;
	margin: 0 auto;
}

/* Page */
#page {
	background: #fff;
	padding: 20px;
	margin: 15px 0 15px 0;
	/* corner */
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;

}

	.event_name {
		/*margin-top: 50px;*/
		text-align: center;
		color: #554f4b;
		margin-bottom: 10px;
	}

/* Head */
#head {
	padding: 10px 0;
	overflow: hidden;
	clear: both;
}

/* Footer */
#footer {
	text-align: center;
	margin-bottom: 10px;
}

/* All events */
.all_events {
	overflow: hidden;
	margin: 25px 0 0 0;
}

	.all_events .item-event {
		overflow: hidden;
		padding: 5px;
		margin-bottom: 15px;
	}

	.all_events .image {
		float: left;
		margin: 0 15px 0 0;
	}

	.all_events .info {
		float: left;
	}

		.all_events .title {
			margin: 0;
		}

			.all_events .title a {
				/*color: blue;*/
			}

		.all_events .descr {
			font-size: 14px;
		}

		.all_events .time-place {
			color: #777;
			margin: 0 0 10px 0;
		}

		.all_events .over {
			background: #EFEFEF;
		}

/* Event */
.event {
	overflow: hidden;
}

	.event .time-place {
		text-align: center;
		border-bottom: 1px solid #999;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

	.event .links {
		margin: 0 0 20px 0;
		overflow: hidden;
	}

		.event li{
			float: left;
			margin-right: 20px;
		}

			.event .links li a {
				font-size: 14px;
				font-weight: bold;
			}

	.event .descr {
		overflow: hidden;
		float: left;
		width: 570px;
		margin: 0 0 0 30px;
	}

		.event .descr .content {
			/*margin: 15px 0 0 0;*/
			/*border-bottom: 1px solid #999;*/
			/*padding-bottom: 10px;*/
		}

			.event .descr .content ul {
				list-style-type: disc;
				padding: 10px 0 10px 25px;
				overflow: hidden;
			}

	.event .expander {
		display: block;
		text-align: center;
		text-decoration: none;
	}

	.event .image {
		float: left;
	}



/* Logo */
.logo {
	display: block;
	width: 137px;
	height: 30px;
	float: left;
	background: url('/img/logo.png') no-repeat;
}

/* Navigation */
.nav {
	float: left;
	overflow: hidden;
	margin: 5px 0 0 30px;
}

	.nav li {
		float: left;
		margin: 0 25px 0 0;
	}

		.nav li a {
			font-size: 14px;
			text-decoration: none;
			color: #008cc3;
		}

			.nav li a:hover {
				color: #f00;
			}

			.nav li a.active {
				color: #000;
			}

/* List items */
.list_items {
	overflow: hidden;
	margin-top: 20px;
}

	.list_items .item {
		float: left;
		width: 240px;
		margin-left: 20px;
		margin-bottom: 10px;
		min-height: 240px;
		max-height: 260px;
	}

		.list_items .item .descr {
			text-align: center;
		}

		.list_items .image {
			height: 210px;
		}

			/* Partners links */
			.list_items .partners .image {
				border: 1px solid #DDD; 
				overflow: hidden;
			}

			.list_items .partners .descr {
				margin-top: 5px;
			}