@import url('reset.css');

body {
	font: 13px/1.4 Arial, sans-serif;
}

/* Base elements */
a:link, a:visited {color: #0F579F}

h1, h2, h3, p {margin: 0 0 10px 0} 

h1 {font-size: 20px}
h2 {font-size: 18px}
h3 {font-size: 14px; font-weight: bold;}
h4 {font-size: 13px}

/* Wrapper  */
#wrapper {
	width: 840px;
	margin: 0 auto;
}

/* Head */
#head {
	padding: 10px 0;
	overflow: hidden;
	clear: both;
}

	/* Logo */
	.logo {
		display: block;
		width: 137px;
		height: 30px;
		float: left;
		background: url('/img/logo.png') no-repeat;
	}

/* Navigation */
.nav {
	float: left;
	overflow: hidden;
	margin: 5px 0 0 30px;
}

	.nav li {
		float: left;
		margin: 0 25px 0 0;
	}

		.nav li a {
			font-size: 14px;
			text-decoration: none;
			color: #008cc3;
		}

		.nav li a:hover {
			color: #f00;
		}

		.nav li a.active {
			color: #000;
		}

/* Top links */
.top_links {
	overflow: hidden;
	margin: 4px 0 10px 0;
}
	.top_links li {
		float: left;
		margin-right: 10px;
	}

		.top_links li a {
			/*color: #555;*/
		}

/* Header */
#header {
	overflow: hidden;
	margin: 0 0 10px 0;
}

/* Search */
.search {
	float: left;
	background: #C4DCE7;
	border: 1px solid #9DC8DB;
	padding: 10px;
	width: 680px;
	overflow: hidden;
}

	.search .query {
		width: 600px;
		padding: 1px;
		margin: 2px 5px 0 0;
		float: left;
		display: inline-block;
	}

	.search .submit {
		font-size: 14px;
		float: left;
		display: inline-block;
	}

/* Button */
.btn_add_company {
	display: block;
	float: left;
	background: url('/img/btn_add_company.png') no-repeat;
	width: 115px;
	height: 45px;
	margin: 2px 0 0 15px;
}

	.btn_add_company:hover {
		background-position: 0 -45px;
	}

	.btn_add_company:active {
		background-position: 0 -90px;
	}

/* Breadcrumbs */
#breadcrumbs {
	border-bottom: 1px solid #D1D1D1;
	padding: 2px 0 6px;
}

	#breadcrumbs a {
		text-decoration: none;
		color: #000;

	}

		#breadcrumbs a:hover {
			border-bottom: 1px solid #000;
		}

	#breadcrumbs .b_arrow {
		margin: 0 5px;
		background: url('/img/arrow.png') no-repeat;
		width: 5px;
		height: 9px;
		display: inline-block;
	}

	#breadcrumbs .quantity {
		color: #808080;
	}

#page {
	overflow: hidden;
}

#sidebar {
	width: 250px;
	float: left;
	margin: 15px 0 15px 40px;
}

#content {
	float: left;
	width: 550px;
	margin: 15px 0 0 0;
}

/*  Messages*/
.i_mess,
.i_err,
.i_succ {
	border: 1px solid;
	margin: 0 0 25px;
	padding: 8px 8px 8px 32px;
}

/* Information message */
.i_mess {
	border-color: #acd4e6;
	background: #ebf6fa url('/img/info.png') no-repeat 7px 8px;
}

/* Error message */
.i_err {
	border-color: #E89B88;
	background: #FFEFE8;
}
	.i_err ul {
		list-style: disc outside;
		}

/* Success message */
.i_succ {
	border-color: #a6e0a6;
	background: #ebf8eb url('/img/success.png') no-repeat 7px 8px;;
}


/* Activities */
.activities {
	margin: 0 0 10px 0;
}
		.activities li {
			margin: 0 0 5px 0;
		}

			.activities li a {
				text-decoration: none;
			}

				.activities li a:hover {
					border-bottom: 1px solid #0F579F;
				}

			.activities li a.active {
				color: #000;
				font-weight: bold
			}

/* Companies */
.companies {}

	.companies h3,
	.companies p {
		margin: 0;
	}

	.c_item {
		padding: 7px;
		overflow: hidden;
		clear: both;
	}

	.c_item .photo {
		float: left;
		width: 80px
	}

		.c_item .photo img {
			border: 1px solid #DDD;
		}

	.c_item .info {
		float: left;
		margin: 0 0 0 15px;
		padding: 2px 0 0 0;
		width: 430px;
	}

		.c_item .name a {
			color: #336699;
			text-decoration: none;
		}

			.c_item .name a:hover {
				border-bottom: 1px solid #0F579F;
			}

		.c_item .activity a {
			color: #808080;
			font-size: 11px;
			text-decoration: none;
		}
			.c_item .activity a:hover {
				border-bottom: 1px solid #808080;
			}

		.c_item .addr {
			color: #555;
		}

	.c_odd {
		background: #F3F3F3;
	}

/* Pagination */
#pagination {
	clear: both;
	margin: 16px 0 32px;
	padding: 8px 0px 8px 1px;
	border-top: 1px solid #D1D1D1;
	overflow: hidden;
	font-size: 12px;
}

	#pagination strong,
	#pagination a {
		display: block;
		float: left;
		margin: 0 4px 0 0;
		padding: 2px 7px;
		border: 1px solid #BBB;
	}

	#pagination a {
		background: #EEE;
		text-decoration: none;
		color: #000;
	}
		#pagination a:hover {
			background: #FFF;
		}

/* Footer */
#footer {
	margin: 16px 0 0;
	padding: 12px 16px 0;
	background: #EEE;
	font-size: 11px;
}
	.f_menu {
		overflow: hidden;
	}

		.f_menu a {
			float: left;
			margin: 0 16px 0 0;
		}
		.f_menu a.wtf {
			color: #000;
		}

			.f_menu a:last-child {
				font-weight: bold;
			}

	.f_about {
		color: #555;
		padding: 10px 0;
	}

/* Company */
.company {
	overflow: hidden;
	clear: both;
	margin: 0 0 0 10px;
}

	.contacts {
		border-bottom: 1px dotted #AAA;
		margin: 20px 0 10px 0;
		min-height: 65px;
		max-height: 230px;
		clear: both;
		overflow: hidden;
	}

	.logo_company {
		float: left;
		margin: 0 0 10px 0;
		/*border: 1px solid #DDD;*/
	}

	.contacts .field {
		float: left;
		margin: 0 0 10px 30px;
		width: 350px;
	}

		.contacts .phones {
			margin: 0 0 10px 0;
		}
			.contacts .phones li {
				line-height: 20px;
			}

		.contacts .addr {
			font-size: 14px;
		}

	.company .descr img,
	.company .photos img {
		width: 500px;
		max-width: 100%;
	} 

	.company .reviews {
		color: #999;
	}

/* Similar && Random companies */
.similar,
.random {}

	.similar .s_item,
	.random .r_item {
		margin: 5px 0;
	}
		.similar .s_item .name a,
		.random .r_item .name a,
		.links li a {
			text-decoration: none;
		}
			.similar .s_item .name a:hover,
			.random .r_item .name a:hover,
			.links li a:hover {
				border-bottom: 1px solid #0F579F;
			}
				.similar .addr {
					font-size: 11px;
					color: #555;
				}

/* Add company form */
.add_company {
	overflow: hidden;
}

	.add_company .field {
		clear: both; 
		overflow: hidden;
		margin: 0 0 8px 0;
	}

	.add_company .field .subfield {
		overflow: hidden;
		clear: both;
		margin: 0 0 5px 0;
	}

		.add_company label {
			float: left;
			width: 180px;
			color: #666;
		}
			.add_company label.general {
				font-weight: bold;
				color: #000;
			}

		.add_company input[type=text] {
			width: 300px;
			padding: 1px;
			float: left;
		}

			.add_company input[type=text].long {
				width: 350px;
			}

		.add_company textarea {
			width: 350px;
			height: 150px;
			float: left;
		}

		.add_company .buttons {
			float: left;
			margin: 3px 0 0 5px;
		}

			.buttons .add,
			.buttons .del {
				display: inline-block;
				width: 12px;
				height: 12px;
				cursor: pointer;
			}

				.buttons .add {
					background: url('/img/plus_on.png') no-repeat;
				}

				.buttons .del {
					background: url('/img/x_on.png') no-repeat;
					margin: 0 0 0 2px;
				}

	.add_company .submit {
		margin: 0 0 0 178px;
	}

/* Blocks */
.blocks {
	margin: 5px 0 0 0;
}

	.blocks .d_item {
		border: 1px solid #acd4e6;
		background: #f5fafd;
		padding: 3px;
	}

		.blocks .title {
			background: #109cd3;
			background: linear-gradient(to bottom, #109cd3 0%, #028ec5 100%);
			color: #fff;
			line-height: 25px;
			padding: 0 0 0 10px;
			font-weight: bold;
		}

		.blocks .source {
			padding: 5px 10px;
		}
			.blocks .source ul {
				padding: 0 0 0 10px;
			}

				.blocks .source ul li {
					list-style: disc outside;
					margin: 0 0 5px 0; 
				}

/* Top 100 */
.top_rating {
	float: left;
	width: 240px;
	display: block;
	margin: 0 0 0 30px;
	list-style-type: decimal;
}

	.top_rating li {
		margin-bottom: 5px;
	}

		.top_rating .reviews {
			color: #666;
			font-size: 11px;
		}